/**
    Flip2win Styles
*/

.flip2win-puzzle {
    display: inline-block;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.flip2win-puzzle .wrap{
    display: inline-block;
    
}
    .flip2win-puzzle .wrap ul {
        margin: 0;
        padding: 0;
        list-style: none;
        /*display: inline-block;
        width: 100%;
        float: left;*/
    }

        .flip2win-puzzle ul li {
            display: inline-block;
            float: left;
        }

            .flip2win-puzzle ul li.tile {
                position: relative;
                z-index: 0;
               
            }

.restart, .next {
    display: none;
}